*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: #454e57;
    color: white;
    font-family: sans-serif;
    font-size: 1.2rem
}

.title{
    text-align: center
}

form{
    width: 85%;
    margin: 40px auto;
    
}

h3{
    border-bottom: 2px solid #00b2f0;
    margin: 10px ;
    padding: 10px 0px
}

h6{
    margin: 10px ;
    padding: 10px 0px
}

.title p{
    font-size: 1rem
}

p{
    font-size: 0.7rem;
    margin: 10px ;
    padding:  0px
}

input{
    box-sizing: border-box;
    background: #454e57;
    width: 98%;
    font-size: 1rem;
    font-weight: 600;
    border: none ;
    border-bottom: 2px solid #81868c;
    padding: 3px;
    margin: 1%;
    color: white
}

input:invalid:focus{
    border-bottom: 2px solid red;
}

input[type="radio"]{
    position: absolute;
    opacity: 0;
    width:0;
    margin: 0;
    padding: 0
}

.Q3-width{
    width: 73%;
    display: inline-block;
    margin: 1%
}

.Q-width{
    width: 23%;
    display: inline-block;
    margin: 1%
}

F-width{
    width: 100%;
    display: block
}

.space{
    margin: 35px
}

.bord{
    text-align:center;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid white;
    padding: 8px  2px
}

.bord:hover{
    background: #a6e4f8;
    border: 2px solid #a6e4f8;
    color: black
}

input[type="radio"]:checked + label{
    background: #00b2f0;
    border: 2px solid #00b2f0
}

.check1{
    width: 50%;
    float: left
}

.check2{
    width: 50%;
    float: right
}

.clear{
    clear: both
}

input[type="checkbox"]{
position: absolute;
display: inline-block; 
margin: 0;
width: 1px;
padding: 0px;
opacity: 0;
}

.check1 label, .check2 label{
    margin: 10px;
    font-size: 1rem;
    display: inline-block;
    width: 95%;
    line-height: 18px;
}

.siq{
    display: inline-block;
    height: 12px;
    width: 12px;
    border: 1px solid white;
    margin-right: 5px
}

input[type="checkbox"]:checked + label{
    color: #00b2f0;
    font-weight: bold
}

input[type="checkbox"]:checked + label .siq{
    background: #00b2f0;
}

textarea{
    margin: 1% ;
    width: 98%;
    background: #454e57;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 0px 10px 10px;
    color: white;
    outline: none;
    resize: none
}

input[type="submit"]{
    color: white;
    background: #00b2f0;
    border: none;
    font-size: 1.2rem;
    width: 170px;
    margin: 1%;
    padding: 12px 0px
}

input:focus{
    outline: none
}

.RemoveS{
    display: none;
    float: right;
    margin-right: 50%;
    font-size: 1.1rem;
    font-weight:bold 
}

.check1 label:hover span{
    display: inline;
    cursor: default
}

label{
    cursor: pointer
}

.addNew a{
    text-align: center;
    border: 1px solid white;
    padding: 5px 0
}

.addNew a:hover{
    background: #00b2f0;
    cursor: pointer
}